@font-face {
	font-family: 'Roboto-L';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/fonts/Roboto-Light.ttf);
}
@font-face {
	font-family: 'Roboto-R';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/Roboto-Regular.ttf);
}
@font-face {
	font-family: 'Roboto-M';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(/fonts/Roboto-Medium.ttf);
}
@font-face {
	font-family: 'Roboto-SB';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(/fonts/RobotoCondensed-SemiBold.ttf);
}
@font-face {
	font-family: 'Roboto-B';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/fonts/Roboto-Bold.ttf);
}
